.container {
    margin: 0 auto;
    text-align: center;
}

.hook {
    display: inline-block;
    color: #ffd700;
    font-size: 30px;
    margin: 0.2em;
}

.control {
    margin: 0 0.5em;
    cursor: pointer;
}

.plus {
    color: green;
}

.minus {
    color: red;
}
